<template>
  <div class="comment" :class="{active: isLastMessage}" :data-id="message.id">
    <div class="avatar">
      <img src="/images/avatar/boy.svg" />
    </div>
    <div class="content">
      <a class="author">{{ message.user_name }}</a>
      <div class="text">
        {{ message.text }}
      </div>
      <div class="metadata">
        <span class="date">
          Enviado a las {{ created_time }} del {{ created_date }}
        </span>
      </div>
    </div>
  </div>
</template>
<script>

import {mapGetters} from 'vuex'

export default {
  props: ['message'],
  computed: {
    created_date(){
      const created = new Date(this.message.created_at)
      return created.toLocaleDateString('es-ES', {
        weekday: 'long',
        day: 'numeric',
      })
    },
    created_time(){
      const created = new Date(this.message.created_at)
      return created.toLocaleTimeString('es-ES', {
        hour: "2-digit",
        minute: "2-digit",
        hour12: false
      })
    },
    isLastMessage(){
      const messages = this.$store.state.active_room.messages
      return messages[messages.length - 1].id == this.message.id
    }
  }
}
</script>
