<template>
  <div class="chat-area">

    <h3 class="ui dividing header">{{ room.name }} - Conversación</h3>

    <div class="comments-area" ref="comments">
      <div class="ui comments">
        <comment v-for="message in sortedMessages" :message="message" />
        <div v-if="!room.messages.length">
          <div class="ui info message">
            <div class="header">
              ¿Cómo, no hay mensajes?
            </div>
            <ul class="list">
              <li>Usa el campo de abajo para enviar el primer mensaje</li>
              <li>Recuerda ser educado</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>

    <form @submit.prevent="send">
      <div class="ui fluid action input">
        <input
          type="text"
          name="message"
          ref="txt_message"
          required
          v-model="message"
          placeholder="Mensaje..."
        />
        <button type="submit" class="ui button">Enviar</button>
      </div>
    </form>

  </div>
</template>
<script>

import Comment from './Comment'

const scroll = function(el){
  el.scrollTop = el.scrollHeight
}

export default {
  props: ['room'],
  components: {Comment},
  data(){
    return {
      message: ""
    }
  },
  computed: {
    sortedMessages(){
      return this.room.messages.sort((a, b) => {
        return new Date(a.created_at) - new Date(b.created_at)
      })
    }
  },
  watch: {
    sortedMessages(){
      this.$nextTick(() => scroll(this.$refs.comments))
    }
  },
  methods: {
    send(){
      if(!this.message){
        return
      }
      this.$store.dispatch('sendMessage', this.message).then(() => {
        this.message = ""
        this.$refs.txt_message.focus()
        scroll(this.$refs.comments)
      })
    }
  },
}
</script>
