<template>
  <sui-modal v-model="opened">
    <sui-modal-header>Nueva sala</sui-modal-header>
      <sui-modal-content image>
        <sui-image wrapped size="small" src="/images/flat-color-icons/svg/collaboration.svg" />
        <sui-modal-description>
          <sui-header>Crea tu sala</sui-header>
          <p>Introduce el nombre de la sala y pulsa <b>Aceptar</b></p>
          <p>
            <sui-form @submit.prevent="">
              <sui-form-field>
                <label>Nombre de la sala:</label>
                <input
                  name="room_name"
                  type="text"
                  ref="txt_name"
                  v-model="room_name"
                  placeholder="Amistad"
                  @keypress.enter.prevent="createRoom()"
                />
              </sui-form-field>
            </sui-form>
          </p>
        </sui-modal-description>
      </sui-modal-content>
      <sui-modal-actions>
        <sui-button @click.native="close" title="Cerrar">
          Cerrar
        </sui-button>
        <sui-button positive @click.native="createRoom" :disabled="!this.room_name" title="Aceptar">
          Aceptar
        </sui-button>
      </sui-modal-actions>
  </sui-modal>
</template>

<script>
export default {
  data(){
    return {opened: false, room_name: ""}
  },
  methods: {
    open(){
      this.opened = true
      // timeout de 50ms para que coja el foco
      // si lo hago directo no funciona
      setTimeout(() => { this.$refs.txt_name.focus() }, 50)
    },
    close(){
      this.room_name = ""
      this.opened = false
    },
    createRoom() {
      this.$store.dispatch('createRoom', this.room_name)
        .then(this.close)
    }
  }
}
</script>
