<template>
  <div class="room-area">

    <h2 class="ui header centered">
      Salas de chat
    </h2>

    <div class="ui vertical menu">
      <router-link
        class="item room"
        :to="{name: 'lobby_room', params: {room_id: room.id} }"
        :class="{active: isActiveRoom(room.id)}"
        v-for="room in rooms">

        {{ room.name }}

        <div class="ui label" :class="{teal: room.num_users > 0}">
          {{ room.num_users }}
        </div>
      </router-link>

      <a href="#" class="item" @click.prevent="createRoom()" title="Nueva sala">
        <sui-icon name="plus" />
        Nueva sala
      </a>

      <a href="#" class="item" title="Cerrar sesión" @click.prevent="logoutWithRedirect()">
        <sui-icon name="logout" />
        Cerrar sesión
      </a>
    </div>
    <new-room ref='new_room_modal' />
  </div>
</template>
<script>

import {mapGetters, mapActions} from 'vuex'
import NewRoom from '../components/NewRoom'

export default {
  data() {
    return {
      room_search: ""
    }
  },
  components: {
    NewRoom
  },
  computed: {
    ...mapGetters(['rooms', 'isActiveRoom', 'logged']),
  },
  methods: {
    ...mapActions(['enterRoom']),
    logoutWithRedirect(){
      this.$store.dispatch('logout').then(() => {
        this.$router.replace('/')
      })
    },
    createRoom(){
      this.$refs.new_room_modal.open()
    },
    enterIntoActiveRoom(){
      const room_id = this.$route.params.room_id

      if(room_id){
        this.$store.dispatch('enterRoom', room_id)
      }
    }
  },
  watch: {
    '$route': 'enterIntoActiveRoom'
  },
  created(){
    if(!Object.values(this.rooms).length){
      this.$store.dispatch('loadRooms')
    }
    this.enterIntoActiveRoom()
  }
}
</script>
