<template>
  <div class="users-list">
    <h2 class="ui center aligned icon header">
      <i class="users icon"></i>
      Usuarios
    </h2>
    <hr>
    <div class="ui list">
      <div class="item" v-for="user in users">
        <img class="ui avatar image" src="/images/avatar/boy.svg" />
        <div class="content">
          <div class="header">{{ user.name }}</div>
          <div class="description">Visto ayer a las 23:14</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['users'],
}
</script>
