<template>
  <div class="welcome-message">
    <div class="ui icon message">
      <i class="heart icon"></i>
      <div class="content">
        <div class="header">
          Bienvenido, {{ user }}
        </div>
        <p>Elige un canal para empezar a hablar. También puedes crear uno si quieres</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['user']
}
</script>
