<template>
  <div>
    <h2>Acerca de</h2>
    <dl>
      <dt>Autor</dt>
      <dd>Carlos Gant</dd>
      <dt>Creado para</dt>
      <dd>Nosolosoftware</dd>
    </dl>
    <router-link to="/">Volver</router-link>
  </div>
</template>
