<template>
  <div>
    <h2>Ayuda</h2>
    <p>
      Esta aplicación de chat te permite acceder con un nombre de usuario a
      tu elección, acceder a una sala de chat para chatear con otros usuarios.
    </p>
    <p>
      Puedes crear una sala pulsando el botón: nueva sala
    </p>
    <p>
      Puedes entrar en la sala haciendo click en ella
    </p>
    <router-link to="/">Volver</router-link>
  </div>
</template>
