<template>
  <div>
    <sui-form id="login_form" @submit.prevent="login">
      <sui-form-field>
        <label>Elige un nombre:</label>
        <input
          name="username"
          type="text"
          v-model="username"
          :placeholder="random_name()">
      </sui-form-field>
      <sui-button type="submit" primary>Entrar</sui-button>
    </sui-form>
  </div>
</template>

<script>
import names from 'starwars-names'

export default {
  data(){
    return {
      username: "",
      error: ""
    }
  },
  methods: {
    login() {
      this.$store.dispatch('login', this.username).then(
        () => {
          this.$router.push('/lobby')
        },
      )
    },
    random_name: () => names.random(),
  },
  created() {
    if(this.$store.getters.logged){
      this.$router.push('/lobby')
    }
  }
}
</script>
