<template>
  <div class="lobby">
    <rooms />
    <template v-if="activeRoom">
      <messages :room="activeRoom" />
      <users-list :users="activeRoom.users" />
    </template>
    <template v-else>
      <welcome-message :user="user.name" />
    </template>
  </div>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
import NewRoom from '../components/NewRoom'
import Rooms from '../components/Rooms'
import Messages from '../components/Messages'
import UsersList from '../components/UsersList'
import WelcomeMessage from '../components/WelcomeMessage'

export default {
  components: {
    NewRoom,
    Rooms,
    Messages,
    UsersList,
    WelcomeMessage,
  },
  data() {
    return {
      room_search: ''
    }
  },
  computed: {
    ...mapGetters(['logged', 'activeRoom', 'user']),
  },
  created(){
    if(!this.logged){
      this.$router.push('/')
      return;
    }
  }
}
</script>
