@import url('https://fonts.googleapis.com/css?family=Cabin|Lato|Raleway');

body {
  margin: 0;
  padding: 0;
  background: #f4f2f0;
  overflow: hidden;
}

// para que se muestre la mano aunque el elemento <a> no tenga href
a {
  cursor: pointer;
}

.chat {
  margin: 2em;

  display: flex;
  flex: 1 0;
  flex-direction: column;
  align-items: stretch;

  min-height: 480px;

  padding: 1em 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, .35);
  background: #fff;

  * { font-family: 'Lato', sans-serif; }

  > header {
    margin-bottom: 2em;
  }

  > main {
    flex: 1;
  }

  > footer {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #eee;
  }

  .page-title {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #444;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  .page-punch-line {
    font-family: 'Cabin', sans-serif;
    display: block;
    text-align: right;
    font-style: italic;
    color: #666;
  }

  .statusbar {
    > nav a {
      text-decoration: none;
      color: #00b0b3;
      padding: 0.5em;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .lobby {
    display: flex;

    .chat-area {
      display: flex;
      flex-flow: column nowrap;

      flex: 1;
      margin-left: 2em;
      .comments-area {
        max-height: 50vh;
        overflow: auto;
      }
    }

    .users-list {
      margin-left: 1em;
      margin-right: 1em;
      padding-left: 1em;
      border-left: 1px solid #ccc;
    }
  }

  .welcome-message {
    flex: 1;
    margin-top: 3em;
    margin-left: 2em;
    vertical-align: middle;
  }

}

@-webkit-keyframes flashy {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.comment.active {
  animation-name: flashy;
  animation-duration: 500ms;
  anmation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@media (max-width: 800px) {
  .chat {
    margin: 0;
    box-shadow: none;
    position: static;
    width: 100%;
  }
}
