<template>
  <div id="chat" class="chat">

    <header>
      <h1 class="page-title">Ansible 1.0</h1>
      <small class="page-punch-line">The FTL chat application</small>
    </header>

    <main>
      <router-view></router-view>
    </main>

    <footer class="statusbar">
      <nav>
        <router-link to="/help">Ayuda</router-link>
        <router-link to="/about">Acerca de</router-link>
      </nav>
    </footer>

  </div>
</template>
