<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ansible Chat 1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'chat' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_pack_tag 'chat' %>
  </body>
</html>
